.footer {
    min-height: 20vh;
    background: black;
    display: flex;
    justify-content: center;
    color: #fff;

    .left {
        flex: .47;
        display: flex;
        flex-direction: column;
        justify-content: center;
        line-height: 3rem;
        nav {
            li {
                list-style: none;
                margin-right: 1rem;
                cursor: pointer;
            }
        }
    }
    .right {
        flex: .26;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        .icons {
            > * {
                margin-left: .6rem;
            }
        }
        p {
            margin-top: 1.5rem;
            text-align: right;
            color: hsl(0, 0%, 41%);
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 421px) {
    .footer {
        display: flex;
        flex-direction: column;
        min-height: 50vh;
        padding: 2rem 0rem;
        .left {
            align-items: center;
            nav {
                padding: 2rem 0rem;
                display: flex;
                flex-direction: column;
                li {
                    text-align: center;
                }
            }
        }
        .right {
            align-items: center;

        }
    }
}