* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import './Header';
@import './Main';
@import './Vr';
@import './Creations';
@import './Footer';

body {
    //font-family: 'Alata';
    font-family: 'Josefin Sans';
}


@media screen and (max-width: 421px) {
    .App {
        max-width: 100%;
        border: 2px solid green;
        overflow: hidden;
    }
}   